.main_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0;
    right: 0;
    position: fixed;
    background-color: var(--background2);
    border-bottom: 1px solid var(--subHeadline);
    width: calc(100% - 300px);
    z-index: 1000;
}

b {
    color: var(--tertiary);
}


@media (max-width: 768px) {
    .main_header{
        margin-left: 250px;
        width: calc(100% - 250px);
    }
}

@media (max-width: 480px) {
    .main_header{
        margin-left: 150px;
        width: calc(100% - 150px);
    }
}
