.bodyContent{
    margin-left: 300px;
    width: calc(100% - 300px);
    min-height: 100vh;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .bodyContent{
        margin-left: 250px;
        width: calc(100% - 250px);
    }
}

@media (max-width: 480px) {
    .bodyContent{
        margin-left: 150px;
        width: calc(100% - 120px);
    }
}